*{
	margin:0;
	padding: 0;
}
body{
	height: 100%;
	font-family: 'Balsamiq Sans', cursive;
	overflow-x: hidden;
}
header{
	background: #303030;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
}
nav,
.wrapper{
	margin: 0 auto;
	max-width: 1175px;
	width: 100%;
}
.nav-menu{
	display: flex;
	justify-content: space-between;
	height: 95px;
	align-items: center;
	list-style-type: none;
}
.menu-touch{
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
}
.menu-touch li a{
	text-decoration: none;
	color: white;
	font-size: 13px;
	margin-left: 40px;
	padding-bottom: 13px;
}
.menu-touch li a:hover{
	border-bottom: 4px solid #7b6c63;
}
.logo-menu{
	font-size: 46px;
	color: white;
	text-decoration: none;
	font-family: 'Oleo Script', cursive;
}
.header-burger{
	display: none;
}
body{
	height: 3400px;
}

                               /* Start block main */
.main-img{	
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-image: url(img/intro/01.jpg);
	background-position: 0 -50px;
	max-width: 100%;
	height: 675px;
	margin-top: 95px;
}
.main-intro{
	padding: 185px 0 180px 0;
	text-transform: uppercase;
	color: white;
}
.intro-text p{
	font-size: 24px;
	padding-bottom: 13px;
}
.intro-text h1{
	font-size: 66px;
	padding-bottom: 60px;
}
.intro-text h1 span{
	color: #7b6c63;
}
.download{
	color: white;
	font-size: 16px;
	width: 265px;
	height: 60px;
	border: none;
	text-transform: uppercase;
	position: relative;
	transition: all 0.5s;
	text-align: center;
	line-height: 50px;
    height: 50px;
    cursor: pointer;
}
.download:before{
	display: block;
	content: '';
	position: absolute;
	top: 0;	
	left:0;
	width: 100%;
	height: 100%;
	z-index: 1;
	border-radius: 30px;
	background-color: rgb(38,34,30,0.5);
	transition: all 0.3s;
	
}
.download:hover::before{
	opacity: 0;
	transform: scale(0.5,0.5);
}
.download:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(255,255,255,0.5);
	border-radius: 30px;
	transform: scale(1.2,1.2);
}
.download:hover::after{
	opacity: 1;
	transform: scale(1,1);
}
.download span{
	position: relative;
	z-index: 5;
}
.download:hover{
	opacity: 1;
}
.download i{
	margin-left: 20px;
}
													/* start block info */


.about-text{
	padding: 80px 0 80px 0;
	align-items: center;
	text-align: center;
}
.about-text h2{
	font-size: 40px;
	color: #7b6c63;
	text-transform: uppercase;
}
.about-text hr{
	color: #7b6c63;
	margin: 35px auto;
}
.about-text p{
	font-size: 18px;
}
.main-info{
	width: 100%;
	background-color: #f2f1f1;
}
.corner {
  position: relative;
  width: 960px;
}
.corner img{
	position: ;
	top: 0;
	right: 0;
   	width: 960px;
   	height: auto;
}
.main-about .container-info{
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin: 0 auto;
	padding-left: 13%;
}
.main-info .info-text{
	padding-top: 80px;
	width: 30%;
}
.main-info .info-text h3{
	color: #beb8b5;
	font-size: 24px;
	padding-bottom: 10px;
	margin-left: 5px;
}
.main-info .info-text .last-child{
	margin-top: 10px;
}
.info-text .read{
	width: 170px;
	height: 50px;
	font-size: 18px;
	text-transform: uppercase;
	border: 2px solid black;
	border-radius: 5px;
	font-family: 'Balsamiq Sans', cursive;
	margin-top: 40px;
	margin-left: 10px;
}
.main-info .info-text .read i{
	font-size: 20px;
	color: #000;
	margin-left: 18px;
}
                    /* start block servise */
.serv{
	padding: 85px 0 80px 0;
}
.provide{
	text-align: center;
	padding: 0 85px;
}
.provide p{
	font-size: 18px;
}
.provide h3{
	text-transform: uppercase;
	font-size: 24px;
	margin-bottom: 20px;
}
.consultancy{
	padding-top: 80px;
	display: flex;
	justify-content: space-between;
}
.consultancy .card{
	max-width: 350px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.consultancy .card h4{
	font-size: 20px;
	color: #7b6c63;
	margin: 10px 0 10px 0;
	text-transform: uppercase;
}
.consultancy .card i{
	font-size: 24px;
	color: #7b6c63;
}
.cam-img{
	background: url(img/cam.jpg);
	height: 470px;
}
.skills{
	height: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.sarcle{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.serkl{
	
	text-align: center;
}
.serkl:last-child{
	margin-right: 0;
}
.skills h3{
	margin-bottom: 100px;
	font-size: 24px;
}
.level-skills{
	padding: 50px;
	border: 3px solid #7b6c63;
	border-radius: 50%;
}
						/* start block projects */

.projects{
	width: 100%;
	text-align: center;
}
.projects-text{
	padding: 80px 0 90px 0;
	text-align: center;
}
.projects-text h3{
	text-transform: uppercase;
	font-size: 40px;
	color: #7b6c63;
}
.projects-text p{
	font-size: 18px;
}
.projects-text hr{
	color: #7b6c63;
	margin: 40px auto 35px;
}
.projects-img{
	width: 100%;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-column-gap: 0fr;
}


.project-cards{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 458px;
	max-height: 350px;
}
.project-card{
	width: 100%;
	height: auto;
	max-width: 458px;
	max-height: 350px;
	overflow: hidden;
	cursor: pointer;
	background: #000;
	margin: 0;
}
.project-card img{
	width: 100%;
	transition: .5s;
}
.project-cards:hover .project-card img{
	transform: scale(1.2);
	filter: blur(1px);
	opacity: 0.7;
}
.fon-card{
	display: none;
	position: absolute;
	top: 5%;
	right: 5%;
	left: 5%;
	bottom: 5%;
	width: 90%;
	height: 90%;
	background: #000;
	opacity: 0.6;
	transition: .5s;
}
.project-cards:hover .fon-card{
	display: block;
}
.cardtext{
	position: absolute;
	top: 32%;
	left: 31%;
	transition: .5s;
	z-index: 10;
}
.pape-text{
	color: white;
	text-transform: uppercase;
	padding: 20px;
	opacity: 0;
	transition: .3s;
	text-align: center;
}
.pape-text h2{
	margin-bottom: 15px;
	font-size: 18px;
}
.pape-text p{
	font-size: 14px;
	opacity: 0.9;
	margin-top: 15px;
}
hr{
	margin: 0 auto;
	color: white;
}
.project-cards:hover .pape-text{
	opacity: 1;
}
.projects-text-bottom{
	width: 100%;
	text-align: center;
	background: #1a1a1a;
	padding: 80px 0 90px 0;
}
.projects-text-bottom h4{
	text-transform: uppercase;
	font-size: 30px;
	color: white;
}
.projects-text-bottom p{
	font-size: 18px;
	color: white;
}
.seeall{
	width: 175px;
	height: 55px;
	font-size: 20px;
	border: 2px solid black;
	border-radius: 5px;
	text-transform: uppercase;
	margin: 60px auto;
	font-family: 'Balsamiq Sans', cursive;
}
.seeall i{
	margin-left: 5px;
}
.seeall:hover{
	cursor: pointer;
}
						/* start block team */
.our{
	width: 100%;
	text-align: center;
	padding: 60px 0;
	background: #f5f5f5;
}
.team{
	margin: 0 auto;
	max-width: 1175px;
	width: 100%;
}								
.team-text{
	padding-bottom: 60px;
}		
.team-text h3{
	text-transform: uppercase;
	font-size: 40px;
	color: #7b6c63;
}	
.team-text p{
	color: #7b6c63;
}	
.team-text hr{
	color: #7b6c63;
	margin: 40px auto 35px;
}
.team-info{
	display: flex;
	justify-content: center;
	align-items: center;
}
.team-cards{
	position: relative;
	top: 0;
	left: 0;
	margin-left: 30px;
}
.team-cards:first-child{
	margin-left: 0;
}
.team-card{
	width: 100%;
	max-width: 370px;
	max-height: 370px;
	overflow: hidden;
	cursor: pointer;
}
.team-card img{
	width: 100%;
	transition: 0.5s;
}
.fon-team{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	max-height: 370px;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.7;
	z-index: 10;
}
.team-cards:hover .fon-team{
	display: block;
}
.text-team{
	position: absolute;
	top: 32%;
	left: 20%;
	transition: 0.5s;
	z-index: 10;
}
.linck-team{
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	transition: .3s;
	text-align: center;
	color: white;
	opacity: 0;
}
.linck-team a{
	text-decoration: none;
	color: white;
	display: inline-block;
	border: 2px solid white;
	border-radius: 50%;
	padding: 10px;
	width: 40px;
	height: 40px;
	margin-left: 8px;

}
.linck-team i{
	font-size: 26px;
	position: relative;
	top: 5px;
}
.team-cards:hover .linck-team{
	opacity: 1;
}
.name-agent{
	margin-top: 25px;
	color: black;
	text-align: center;
	text-transform: uppercase;
	padding: 20px 0;
}
.name-agent h3{
	font-size: 24px;
}
.name-agent p{
	font-size: 13px;
}
.team-cards:hover .name-agent{
	border: 2px solid black;
	padding: 18px 0;
	cursor: pointer;
}
.saying{
	width: 100%;
	text-align: center;
	background: #1a1a1a;
	padding: 80px 0;
	color: white;
}
.saying h3{
	text-transform: uppercase;
	font-size: 24px;
	margin-bottom: 30px;
}
.saying p{
	font-size: 18px;
	opacity: 0.7;
	margin-bottom: 35px;
}
.saying p:last-child{
	margin-bottom: 0;
}
						/* start block our blog */
.our-blog{
	width: 70%;
	text-align: center;
	margin: 0 auto;
	padding: 80px 0;
}
.blog-text{
	padding-bottom: 80px;
}
.blog-text h3{
	text-transform: uppercase;
	font-size: 30px;
	color: #7b6c63;
}
.blog-text p{
	font-size: 24px;
}
.our-blog hr{
	color: #7b6c63;
	margin: 40px auto 35px;
}
.blog-info{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.our-blog .blog-img{
	max-width: 475px;
	width: 100%;
	height: auto;
}
.our-blog .blog-img img{
	width: 100%;
	height: auto;
}
.our-blog .info-container{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 1080px;
	width: 100%;
	margin-bottom: 50px;
}
.our-blog .info-text{
	max-width: 475px;
	margin-left: 30px;
	padding-left: 80px;
	text-align: start;
}
.our-blog .left{
	text-align: end;
	padding-left: 0;
	margin-left: 0;
}
.our-blog .info-text p{
	font-size: 16px;
	margin-bottom: 10px;
	color: #7b6c63;
	opacity: 0.8;
}
.our-blog .info-text h4{
	font-size: 22px;
	color: black;
	margin-bottom: 10px;
	opacity: 0.8;
}
.vl{
    border-left: 2px solid #d6d6d6;
    height: 990px;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    top: 0;
}
.our-blog .all-post{
	width: 70px;
	height: 70px;
	font-size: 15px;
	color: white;
	background: #7b6c63;
	border: none;
	border-radius: 50%;
	font-family: 'Balsamiq Sans', cursive;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	cursor: pointer;
}
.contact-form{
	text-align: center;
	width: 100%;
	padding: 80px 0;
	background: #f5f5f5;
}
.contact-form h3{
	font-size: 40px;
	text-transform: uppercase;
	color: #7b6c63;
	margin-bottom: 60px;
}
.contact-form form{
	margin: 0 auto;
	max-width: 780px;
	text-align: start;
}
.contact-form input{
	width: 370px;
	height: 50px;
	border: none;
	border-top: 3px solid black;
	background: #f5f5f5;
}
#email{
	margin-left: 34px;
}
#message{
	width: 780px;
	margin-top: 20px;
	margin-bottom: 35px;
}
#nulltext{
	width: 780px;
	border: none;
	border-bottom: 3px solid #5d5d5d;
	margin-bottom: 30px;
}
.contact-form .submit{
	width: 160px;
	height: 45px;
	color: black;
	font-size: 20px;
	border: 2px solid black;
	font-family: 'Balsamiq Sans', cursive;
	text-align: center;
	cursor: pointer;
}
/* start footer */
.footer{
	width: 100%;
	background: #222222;
	padding-top: 50px;
}
.footer-container{
	display: flex;
	justify-content: space-between;
}
.footer-container h5{
	font-size: 18px;
	color: #c2c2c2;
	text-transform: uppercase;
	margin-bottom: 23px;
	opacity: 0.8;
}
.footer-container h4{
	font-size: 45px;
	font-family: 'Oleo Script', cursive;
	color: #7b6c63;
}
.footer-container p{
	font-size: 14px;
	color: #c2c2c2;
	opacity: 0.7;
}
.footer-container div{
	display: flex;
	flex-direction: column;
}
.mairala-col{
	width: 280px;
}
.mairala-col p:last-child{
	margin-top: 30px;
}
.ouraddress{
	width: 280px;
}
.footer-container hr{
	color: #7b6c63;
	margin: 18px 0;
	opacity: 0.5;
	max-width: 270px;
	width: 100%;
}
.footer-container a{
	text-decoration: none;
	color: #625853;
	opacity: 0.7;
}
.ouraddress p{
	margin-bottom: 40px;
}
.ouraddress a{
	color: #c2c2c2;
	font-size: 14px;
}
.ouraddress i{
	margin-right: 10px;
	font-size: 12px;
}
.footerlast{
	width: 100%;
	background: #1c1c1c;
	position: relative;
	height: 65px;
	text-align: center;
	margin-top: 50px;
	color: #c2c2c2;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media screen and (max-width: 767px){
	.logo-menu {
    	font-size: 30px;
    	margin: 0;
	}
	.header .menu-touch a{
		font-size: 13px;
    	margin-left: 15px;
	}
	.header .nav-menu{
		padding: 0 10px;
    	justify-content: space-around;
	}
	.header .menu-touch{
		flex-wrap: wrap;
	}
}
